<div class="modal-character">
  <h3 class="modal-title">Super hero character {{character.content.name}}</h3>
</div> 

<div class="modal-body">
         
  <!-- Name -->
  <div class="form-group">
    <label for="inputName" class="control-label col-xs-3">Name</label>
    <input type="text" size=50 id="inputName" placeholder="name of the superhero" ng-model="character.content.name" />
  </div>
           
  <!-- Description -->
  <div class="form-group">
    <label for="inputDescription" class="control-label col-xs-3">Description</label>
    <textarea rows=8 cols=50 id="inputDescription" placeholder="description of the superhero" ng-model="character.content.description" />
  </div>

  <!-- SuperPowers -->

    <div class="form-group">
    <label for="inputSuperPowers" class="control-label col-xs-3">mySuperPowers</label>
    <input type="text" size=50 id="inputSuperPowers" placeholder="list the superpowers of this hero" ng-model="character.content.superpowerstest" />
  </div>

    
</div>         

<div class="modal-footer">
  <!-- Save | Delete -->
  <button type="button" class="btn btn-primary" ng-click="save();">
    <span class=" glyphicon glyphicon-floppy-disk"></span> Save
  </button>
  <button type="button" class="btn btn-danger" ng-click="remove();">
    <span class=" glyphicon glyphicon-remove"></span> Delete
  </button>
  <button type="button" class="btn btn-warning" ng-click="cancel();">
    <span class=" glyphicon glyphicon-arrow-left"></span> Cancel
  </button>
  
</div>
